* {
    box-sizing: border-box;
}

body {
    background-color: #646262;
}

.wrapper {
    margin: 100px auto 0;
    max-width: 960px;
}

.slider {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 100%;
    border-radius: 2vw;
}

.text {
    display: flex;
    align-items: center;
}


input {
    display: none;
}

.wrapper label {
    cursor: pointer;
    height: 25px;
    margin: 25px 12px 0 16px;
    width: 25px;
    border-radius: 50%;
    background: blue;

}

.wrapper label:hover {
    border: solid 2px blue;
    background: #e5f5ea;
}

.wrapper label:checked {

}

.controls {
    display: flex;
}

.radio-elem {
    display: block;
}

.text-controls {
    display: flex;
    justify-content: space-between;
}

.slides {
    width: 100%;
}

#slider1:checked ~ .slider img {
    transform: translateX(0);
}
#slider2:checked ~ .slider img {
    transform: translateX(-100%);
}
#slider3:checked ~ .slider img {
    transform: translateX(-200%);
}
#slider4:checked ~ .slider img {
    transform: translateX(-300%);
}

.text {
    display: flex;
    position: relative;
    align-items: end;
}

.text-include {
    display: none;
    width: 50vw;
}

#slider1:checked ~ .text-controls .text .text-include:nth-child(1),
#slider2:checked ~ .text-controls .text .text-include:nth-child(2),
#slider3:checked ~ .text-controls .text .text-include:nth-child(3),
#slider4:checked ~ .text-controls .text .text-include:nth-child(4) {
    display: block;
    animation: 0.5s ease-in-out meaning;
}

@keyframes meaning {
    from {
        opacity: 0;
        z-index: -1;
        transform: translateX(-2vw);
    }
    to {
        opacity: 1;
        z-index: 2;
        transform: translateX(0);
    }
}
