* {
    box-sizing: border-box;
}

body {
    background-color: #646262;
}

.wrapper {
    margin: 6.25rem auto 0;
    max-width: 60rem;
}

.slider {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 100%;
    border-radius: 2vw;
}

img {
    transition: ease-out 0.5s;
}

.text {
    display: flex;
    align-items: center;
}

input {
    display: none;
}

.wrapper label {
    cursor: pointer;
    height: 1.5625rem;
    margin: 1.5625rem 0.75rem 0 1rem;
    width: 1.5625rem;
    border-radius: 50%;
    background: blue;
}

.wrapper label::after {
    content: '';
    display: block;
    height: 1.5625rem;
    width: 1.5625rem;
    padding-bottom: 1.875rem;
}


.wrapper label:hover {
    border: solid 0.125rem #e5f5ea;
    background: #e5f5ea;
}

.controls {
    display: flex;
}

.radio-elem {
    display: block;
}

.text-controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.slides {
    width: 100%;
}

#slider1:checked ~ .slider img {
    transform: translateX(0);
}

#slider2:checked ~ .slider img {
    transform: translateX(-100%);
}

#slider3:checked ~ .slider img {
    transform: translateX(-200%);
}

#slider4:checked ~ .slider img {
    transform: translateX(-300%);
}

.text {
    display: flex;
    position: relative;
    align-items: end;
    width: 50%;
}

.text-include {
    display: none;
    width: 50vw;
}

#slider1:checked ~ .text-controls #point1,
#slider2:checked ~ .text-controls #point2,
#slider3:checked ~ .text-controls #point3,
#slider4:checked ~ .text-controls #point4 {
    background-color: #e5f5ea;
}

#slider1:checked ~ .text-controls .text .text-include:nth-child(1),
#slider2:checked ~ .text-controls .text .text-include:nth-child(2),
#slider3:checked ~ .text-controls .text .text-include:nth-child(3),
#slider4:checked ~ .text-controls .text .text-include:nth-child(4) {
    display: block;
    animation: 0.5s ease-in-out meaning;
}

@keyframes meaning {
    from {
        opacity: 0;
        z-index: -1;
        transform: translateX(-2vw);
    }
    to {
        opacity: 1;
        z-index: 2;
        transform: translateX(0);
    }
}

@media (max-width: 720px) {
    .text-controls {
        display: flex;
        flex-direction: column-reverse;
    }

    .controls {
        justify-content: center;
    }

}